@layer utilities {
  .p_2 {
    padding: var(--spacing-2);
}

  .bd_1px_solid {
    border: 1px solid;
}

  .px_4 {
    padding-inline: var(--spacing-4);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .bd-c_gray\.300 {
    border-color: var(--colors-gray-300);
}

  .td_none {
    text-decoration: none;
}

  .gap_2 {
    gap: var(--spacing-2);
}

  .gap_4 {
    gap: var(--spacing-4);
}

  .d_inline-flex {
    display: inline-flex;
}

  .ai_center {
    align-items: center;
}

  .bg-c_white {
    background-color: var(--colors-white);
}

  .cursor_pointer {
    cursor: pointer;
}

  .fs_sm {
    font-size: var(--font-sizes-sm);
}

  .c_inherit {
    color: inherit;
}

  .d_flex {
    display: flex;
}

  .bg-c_gray\.200 {
    background-color: var(--colors-gray-200);
}

  .bg-c_blue\.50 {
    background-color: var(--colors-blue-50);
}

  .c_gray\.700 {
    color: var(--colors-gray-700);
}

  .c_blue\.700 {
    color: var(--colors-blue-700);
}

  .fw_medium {
    font-weight: var(--font-weights-medium);
}

  .c_gray\.500 {
    color: var(--colors-gray-500);
}

  .disabled\:op_0\.5:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    opacity: 0.5;
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: not-allowed;
}

  .hover\:bg-c_gray\.100:is(:hover, [data-hover]) {
    background-color: var(--colors-gray-100);
}

  .hover\:op_0\.8:is(:hover, [data-hover]) {
    opacity: 0.8;
}

  .hover\:c_gray\.700:is(:hover, [data-hover]) {
    color: var(--colors-gray-700);
}
}