@layer utilities {
  .bd_1px_solid {
    border: 1px solid;
}

  .p_3 {
    padding: var(--spacing-3);
}

  .p_2 {
    padding: var(--spacing-2);
}

  .bd-c_gray\.100 {
    border-color: var(--colors-gray-100);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .ov_hidden {
    overflow: hidden;
}

  .flex_1 {
    flex: 1 1 0%;
}

  .gap_2 {
    gap: var(--spacing-2);
}

  .px_3 {
    padding-inline: var(--spacing-3);
}

  .td_none {
    text-decoration: none;
}

  .td_underline {
    text-decoration: underline;
}

  .px_1\.5 {
    padding-inline: var(--spacing-1\.5);
}

  .bdr_sm {
    border-radius: var(--radii-sm);
}

  .bd-c_gray\.200 {
    border-color: var(--colors-gray-200);
}

  .gap_1 {
    gap: var(--spacing-1);
}

  .d_flex {
    display: flex;
}

  .ai_center {
    align-items: center;
}

  .jc_space-between {
    justify-content: space-between;
}

  .cursor_pointer {
    cursor: pointer;
}

  .c_gray\.500 {
    color: var(--colors-gray-500);
}

  .c_blue\.600 {
    color: var(--colors-blue-600);
}

  .fw_medium {
    font-weight: var(--font-weights-medium);
}

  .fs_xs {
    font-size: var(--font-sizes-xs);
}

  .c_gray\.400 {
    color: var(--colors-gray-400);
}

  .bg-c_gray\.100 {
    background-color: var(--colors-gray-100);
}

  .bg-c_white {
    background-color: var(--colors-white);
}

  .jc_center {
    justify-content: center;
}

  .flex-d_column {
    flex-direction: column;
}

  .ta_left {
    text-align: left;
}

  .w_full {
    width: var(--sizes-full);
}

  .min-w_100px {
    min-width: 100px;
}

  .disabled\:op_0\.5:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    opacity: 0.5;
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: not-allowed;
}

  .hover\:bg-c_gray\.50:is(:hover, [data-hover]) {
    background-color: var(--colors-gray-50);
}

  .hover\:c_blue\.800:is(:hover, [data-hover]) {
    color: var(--colors-blue-800);
}
}