@layer utilities {
  .bg_white {
    background: var(--colors-white);
}

  .p_4 {
    padding: var(--spacing-4);
}

  .bd_1px_solid {
    border: 1px solid;
}

  .p_2 {
    padding: var(--spacing-2);
}

  .bg_blue\.100 {
    background: var(--colors-blue-100);
}

  .bg_gray\.50 {
    background: var(--colors-gray-50);
}

  .gap_4 {
    gap: var(--spacing-4);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .bd-c_gray\.200 {
    border-color: var(--colors-gray-200);
}

  .gap_2 {
    gap: var(--spacing-2);
}

  .bd-c_gray\.300 {
    border-color: var(--colors-gray-300);
}

  .flex_1 {
    flex: 1 1 0%;
}

  .px_4 {
    padding-inline: var(--spacing-4);
}

  .px_3 {
    padding-inline: var(--spacing-3);
}

  .py_1 {
    padding-block: var(--spacing-1);
}

  .bdr_full {
    border-radius: var(--radii-full);
}

  .trs_all_0\.2s {
    transition: all 0.2s;
}

  .bd-c_blue\.500 {
    border-color: var(--colors-blue-500);
}

  .d_flex {
    display: flex;
}

  .flex-d_column {
    flex-direction: column;
}

  .ai_flex-start {
    align-items: flex-start;
}

  .bx-sh_sm {
    box-shadow: var(--shadows-sm);
}

  .ai_center {
    align-items: center;
}

  .flex-wrap_wrap {
    flex-wrap: wrap;
}

  .bg-c_blue\.600 {
    background-color: var(--colors-blue-600);
}

  .c_white {
    color: var(--colors-white);
}

  .cursor_pointer {
    cursor: pointer;
}

  .fw_medium {
    font-weight: var(--font-weights-medium);
}

  .fs_sm {
    font-size: var(--font-sizes-sm);
}

  .c_gray\.600 {
    color: var(--colors-gray-600);
}

  .fs_xs {
    font-size: var(--font-sizes-xs);
}

  .c_blue\.700 {
    color: var(--colors-blue-700);
}

  .c_red\.500 {
    color: var(--colors-red-500);
}

  .w_full {
    width: var(--sizes-full);
}

  .disabled\:op_0\.5:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    opacity: 0.5;
}

  .disabled\:bg-c_gray\.400:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    background-color: var(--colors-gray-400);
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: not-allowed;
}

  .hover\:bg-c_blue\.700:is(:hover, [data-hover]) {
    background-color: var(--colors-blue-700);
}
}