@layer utilities {
  .p_3 {
    padding: var(--spacing-3);
}

  .bd_1px_solid {
    border: 1px solid;
}

  .bg_blue\.50 {
    background: var(--colors-blue-50);
}

  .bg_blue\.600 {
    background: var(--colors-blue-600);
}

  .bg_white {
    background: var(--colors-white);
}

  .bg_blue\.100 {
    background: var(--colors-blue-100);
}

  .bg_gray\.50 {
    background: var(--colors-gray-50);
}

  .bg_gray\.100 {
    background: var(--colors-gray-100);
}

  .p_1 {
    padding: var(--spacing-1);
}

  .gap_4 {
    gap: var(--spacing-4);
}

  .gap_2 {
    gap: var(--spacing-2);
}

  .gap_1 {
    gap: var(--spacing-1);
}

  .bd-c_gray\.100 {
    border-color: var(--colors-gray-100);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .gap_3 {
    gap: var(--spacing-3);
}

  .flex_1 {
    flex: 1 1 0%;
}

  .px_2 {
    padding-inline: var(--spacing-2);
}

  .py_1 {
    padding-block: var(--spacing-1);
}

  .px_3 {
    padding-inline: var(--spacing-3);
}

  .py_1\.5 {
    padding-block: var(--spacing-1\.5);
}

  .py_0\.5 {
    padding-block: var(--spacing-0\.5);
}

  .bd-c_gray\.300 {
    border-color: var(--colors-gray-300);
}

  .bd-c_blue\.500 {
    border-color: var(--colors-blue-500);
}

  .bdr_full {
    border-radius: var(--radii-full);
}

  .bd-c_gray\.200 {
    border-color: var(--colors-gray-200);
}

  .d_flex {
    display: flex;
}

  .flex-d_column {
    flex-direction: column;
}

  .ai_stretch {
    align-items: stretch;
}

  .jc_space-between {
    justify-content: space-between;
}

  .ai_center {
    align-items: center;
}

  .jc_flex-start {
    justify-content: flex-start;
}

  .flex-wrap_wrap {
    flex-wrap: wrap;
}

  .cursor_pointer {
    cursor: pointer;
}

  .fs_xl {
    font-size: var(--font-sizes-xl);
}

  .fw_semibold {
    font-weight: var(--font-weights-semibold);
}

  .c_blue\.700 {
    color: var(--colors-blue-700);
}

  .fs_xs {
    font-size: var(--font-sizes-xs);
}

  .fw_bold {
    font-weight: var(--font-weights-bold);
}

  .c_white {
    color: var(--colors-white);
}

  .fs_sm {
    font-size: var(--font-sizes-sm);
}

  .c_gray\.600 {
    color: var(--colors-gray-600);
}

  .c_red\.500 {
    color: var(--colors-red-500);
}

  .fw_medium {
    font-weight: var(--font-weights-medium);
}

  .fs_10px {
    font-size: 10px;
}

  .c_gray\.500 {
    color: var(--colors-gray-500);
}

  .ml_2 {
    margin-left: var(--spacing-2);
}

  .disabled\:c_gray\.400:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    color: var(--colors-gray-400);
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: not-allowed;
}

  .hover\:bg_blue\.700:is(:hover, [data-hover]) {
    background: var(--colors-blue-700);
}

  .hover\:td_underline:is(:hover, [data-hover]) {
    text-decoration: underline;
}

  .hover\:bg-c_gray\.50:is(:hover, [data-hover]) {
    background-color: var(--colors-gray-50);
}

  .hover\:c_blue\.600:is(:hover, [data-hover]) {
    color: var(--colors-blue-600);
}

  .hover\:bg-c_red\.50:is(:hover, [data-hover]) {
    background-color: var(--colors-red-50);
}

  @media screen and (min-width: 48rem) {
    .md\:flex-d_row {
      flex-direction: row;
}
    .md\:ai_center {
      align-items: center;
}
    .md\:jc_flex-end {
      justify-content: flex-end;
}
}
}