@layer utilities {
  .p_4 {
    padding: var(--spacing-4);
}

  .gap_6 {
    gap: var(--spacing-6);
}

  .bd-c_gray\.200 {
    border-color: var(--colors-gray-200);
}

  .d_flex {
    display: flex;
}

  .flex-d_column {
    flex-direction: column;
}

  .ai_center {
    align-items: center;
}

  .jc_space-between {
    justify-content: space-between;
}

  .fs_2xl {
    font-size: var(--font-sizes-2xl);
}

  .fw_bold {
    font-weight: var(--font-weights-bold);
}

  .fs_sm {
    font-size: var(--font-sizes-sm);
}

  .c_blue\.600 {
    color: var(--colors-blue-600);
}

  .cursor_pointer {
    cursor: pointer;
}

  .hover\:td_underline:is(:hover, [data-hover]) {
    text-decoration: underline;
}
}