@layer utilities {
  .bg_black\/50 {
    --mix-background: color-mix(in srgb, var(--colors-black) 50%, transparent);
    background: var(--mix-background, var(--colors-black));
}

  .bd_1px_solid {
    border: 1px solid;
}

  .bg_green\.100 {
    background: var(--colors-green-100);
}

  .bg_gray\.50 {
    background: var(--colors-gray-50);
}

  .bg_red\.100 {
    background: var(--colors-red-100);
}

  .bg_gray\.100 {
    background: var(--colors-gray-100);
}

  .bg_blue\.600 {
    background: var(--colors-blue-600);
}

  .bg_white {
    background: var(--colors-white);
}

  .p_6 {
    padding: var(--spacing-6);
}

  .p_2 {
    padding: var(--spacing-2);
}

  .bd-c_gray\.200 {
    border-color: var(--colors-gray-200);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .px_2 {
    padding-inline: var(--spacing-2);
}

  .py_1 {
    padding-block: var(--spacing-1);
}

  .bd-c_green\.500 {
    border-color: var(--colors-green-500);
}

  .bd-c_gray\.300 {
    border-color: var(--colors-gray-300);
}

  .bd-c_red\.500 {
    border-color: var(--colors-red-500);
}

  .px_4 {
    padding-inline: var(--spacing-4);
}

  .py_2 {
    padding-block: var(--spacing-2);
}

  .gap_6 {
    gap: var(--spacing-6);
}

  .bdr_lg {
    border-radius: var(--radii-lg);
}

  .gap_1 {
    gap: var(--spacing-1);
}

  .gap_4 {
    gap: var(--spacing-4);
}

  .gap_2 {
    gap: var(--spacing-2);
}

  .bd-b_1px_solid {
    border-bottom: 1px solid;
}

  .bd-c_gray\.100 {
    border-color: var(--colors-gray-100);
}

  .gap_3 {
    gap: var(--spacing-3);
}

  .pos_fixed {
    position: fixed;
}

  .d_flex {
    display: flex;
}

  .ai_center {
    align-items: center;
}

  .jc_center {
    justify-content: center;
}

  .z_1000 {
    z-index: 1000;
}

  .fs_xl {
    font-size: var(--font-sizes-xl);
}

  .fw_bold {
    font-weight: var(--font-weights-bold);
}

  .fs_sm {
    font-size: var(--font-sizes-sm);
}

  .c_gray\.500 {
    color: var(--colors-gray-500);
}

  .fs_md {
    font-size: var(--font-sizes-md);
}

  .fw_semibold {
    font-weight: var(--font-weights-semibold);
}

  .fs_xs {
    font-size: var(--font-sizes-xs);
}

  .cursor_pointer {
    cursor: pointer;
}

  .c_green\.700 {
    color: var(--colors-green-700);
}

  .c_gray\.600 {
    color: var(--colors-gray-600);
}

  .c_red\.700 {
    color: var(--colors-red-700);
}

  .c_white {
    color: var(--colors-white);
}

  .flex-d_column {
    flex-direction: column;
}

  .jc_space-between {
    justify-content: space-between;
}

  .jc_flex-end {
    justify-content: flex-end;
}

  .top_0 {
    top: var(--spacing-0);
}

  .left_0 {
    left: var(--spacing-0);
}

  .w_full {
    width: var(--sizes-full);
}

  .h_full {
    height: var(--sizes-full);
}

  .max-h_60 {
    max-height: var(--sizes-60);
}

  .ov-y_auto {
    overflow-y: auto;
}

  .w_xl {
    width: var(--sizes-xl);
}

  .max-w_90\% {
    max-width: 90%;
}

  .last\:bd-b_none:last-child {
    border-bottom: var(--borders-none);
}

  .disabled\:op_0\.5:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    opacity: 0.5;
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: not-allowed;
}

  .hover\:bg_gray\.200:is(:hover, [data-hover]) {
    background: var(--colors-gray-200);
}

  .hover\:bg_blue\.700:is(:hover, [data-hover]) {
    background: var(--colors-blue-700);
}
}