@layer utilities {
  .p_4 {
    padding: var(--spacing-4);
}

  .p_8 {
    padding: var(--spacing-8);
}

  .p_6 {
    padding: var(--spacing-6);
}

  .p_2 {
    padding: var(--spacing-2);
}

  .bd_1px_dashed {
    border: 1px dashed;
}

  .bd_4px_solid {
    border: 4px solid;
}

  .anim_spin_1s_linear_infinite {
    animation: spin 1s linear infinite;
}

  .gap_3 {
    gap: var(--spacing-3);
}

  .gap_8px {
    gap: 8px;
}

  .bdr_lg {
    border-radius: var(--radii-lg);
}

  .ov_hidden {
    overflow: hidden;
}

  .gap_4 {
    gap: var(--spacing-4);
}

  .gap_2 {
    gap: var(--spacing-2);
}

  .gap_1 {
    gap: var(--spacing-1);
}

  .bd-b_1px_solid {
    border-bottom: 1px solid;
}

  .bd-c_gray\.100 {
    border-color: var(--colors-gray-100);
}

  .bd-c_gray\.300 {
    border-color: var(--colors-gray-300);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .bd-c_blue\.100 {
    border-color: var(--colors-blue-100);
}

  .bdr_full {
    border-radius: var(--radii-full);
}

  .d_flex {
    display: flex;
}

  .ai_center {
    align-items: center;
}

  .jc_center {
    justify-content: center;
}

  .pos_fixed {
    position: fixed;
}

  .bg-c_rgba\(0\,_0\,_0\,_0\.5\) {
    background-color: rgba(0, 0, 0, 0.5);
}

  .z_1000 {
    z-index: 1000;
}

  .flex-d_column {
    flex-direction: column;
}

  .bg-c_white {
    background-color: var(--colors-white);
}

  .bx-sh_xl {
    box-shadow: var(--shadows-xl);
}

  .pos_relative {
    position: relative;
}

  .ta_left {
    text-align: left;
}

  .fs_sm {
    font-size: var(--font-sizes-sm);
}

  .c_gray\.700 {
    color: var(--colors-gray-700);
}

  .jc_space-between {
    justify-content: space-between;
}

  .fs_lg {
    font-size: var(--font-sizes-lg);
}

  .fw_bold {
    font-weight: var(--font-weights-bold);
}

  .cursor_pointer {
    cursor: pointer;
}

  .c_gray\.500 {
    color: var(--colors-gray-500);
}

  .c_gray\.600 {
    color: var(--colors-gray-600);
}

  .c_red\.500 {
    color: var(--colors-red-500);
}

  .fw_medium {
    font-weight: var(--font-weights-medium);
}

  .c_green\.600 {
    color: var(--colors-green-600);
}

  .fs_xs {
    font-size: var(--font-sizes-xs);
}

  .c_red\.400 {
    color: var(--colors-red-400);
}

  .bg-c_blue\.600 {
    background-color: var(--colors-blue-600);
}

  .c_white {
    color: var(--colors-white);
}

  .top_0 {
    top: var(--spacing-0);
}

  .left_0 {
    left: var(--spacing-0);
}

  .w_screen {
    width: 100vw;
}

  .h_screen {
    height: 100vh;
}

  .w_full {
    width: var(--sizes-full);
}

  .max-w_md {
    max-width: var(--sizes-md);
}

  .mt_2 {
    margin-top: var(--spacing-2);
}

  .w_8 {
    width: var(--sizes-8);
}

  .h_8 {
    height: var(--sizes-8);
}

  .bd-t-c_blue\.600 {
    border-top-color: var(--colors-blue-600);
}

  .max-h_20 {
    max-height: var(--sizes-20);
}

  .ov-y_auto {
    overflow-y: auto;
}

  .mt_4 {
    margin-top: var(--spacing-4);
}

  .disabled\:op_0\.5:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    opacity: 0.5;
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: not-allowed;
}

  .hover\:c_gray\.700:is(:hover, [data-hover]) {
    color: var(--colors-gray-700);
}

  .hover\:bg-c_blue\.700:is(:hover, [data-hover]) {
    background-color: var(--colors-blue-700);
}
}