@layer utilities {
  .p_0 {
    padding: var(--spacing-0);
}

  .bd_1px_solid {
    border: 1px solid;
}

  .p_3 {
    padding: var(--spacing-3);
}

  .bg_blue\.100 {
    background: var(--colors-blue-100);
}

  .bg_gray\.50 {
    background: var(--colors-gray-50);
}

  .p_1\.5 {
    padding: var(--spacing-1\.5);
}

  .p_8 {
    padding: var(--spacing-8);
}

  .p_2 {
    padding: var(--spacing-2);
}

  .gap_4 {
    gap: var(--spacing-4);
}

  .gap_2 {
    gap: var(--spacing-2);
}

  .bd-c_blue\.200 {
    border-color: var(--colors-blue-200);
}

  .bdr_md {
    border-radius: var(--radii-md);
}

  .px_3 {
    padding-inline: var(--spacing-3);
}

  .py_1 {
    padding-block: var(--spacing-1);
}

  .bdr_full {
    border-radius: var(--radii-full);
}

  .trs_all_0\.2s {
    transition: all 0.2s;
}

  .bd-c_blue\.500 {
    border-color: var(--colors-blue-500);
}

  .bd-c_gray\.300 {
    border-color: var(--colors-gray-300);
}

  .px_4 {
    padding-inline: var(--spacing-4);
}

  .d_flex {
    display: flex;
}

  .flex-d_column {
    flex-direction: column;
}

  .pos_relative {
    position: relative;
}

  .ai_center {
    align-items: center;
}

  .jc_space-between {
    justify-content: space-between;
}

  .flex-wrap_wrap {
    flex-wrap: wrap;
}

  .pos_sticky {
    position: sticky;
}

  .z_10 {
    z-index: 10;
}

  .bg-c_blue\.50 {
    background-color: var(--colors-blue-50);
}

  .bx-sh_sm {
    box-shadow: var(--shadows-sm);
}

  .fs_sm {
    font-size: var(--font-sizes-sm);
}

  .c_gray\.600 {
    color: var(--colors-gray-600);
}

  .fs_xs {
    font-size: var(--font-sizes-xs);
}

  .cursor_pointer {
    cursor: pointer;
}

  .c_blue\.700 {
    color: var(--colors-blue-700);
}

  .fw_medium {
    font-weight: var(--font-weights-medium);
}

  .c_blue\.800 {
    color: var(--colors-blue-800);
}

  .fw_bold {
    font-weight: var(--font-weights-bold);
}

  .bg-c_blue\.600 {
    background-color: var(--colors-blue-600);
}

  .c_white {
    color: var(--colors-white);
}

  .ta_center {
    text-align: center;
}

  .c_gray\.500 {
    color: var(--colors-gray-500);
}

  .bg-c_gray\.100 {
    background-color: var(--colors-gray-100);
}

  .w_full {
    width: var(--sizes-full);
}

  .top_0 {
    top: var(--spacing-0);
}

  .disabled\:op_0\.5:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    opacity: 0.5;
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: not-allowed;
}

  .hover\:c_gray\.800:is(:hover, [data-hover]) {
    color: var(--colors-gray-800);
}

  .hover\:bg-c_blue\.700:is(:hover, [data-hover]) {
    background-color: var(--colors-blue-700);
}

  .hover\:bg-c_gray\.200:is(:hover, [data-hover]) {
    background-color: var(--colors-gray-200);
}
}